/* WWO css */

.header-wwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
}
.button {
  color: black;
  background-color: #c3b8d1;
  width: 150px;
  height: 50px;
  margin: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.3);
}
.button:hover {
  transition: 0.4s ease-in-out;
  background-color: rgba(103, 103, 201, 0.7);
  box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.7);
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WwoList css */

.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-description {
  height: 200px;
}
