.hero-container {
  height: 100vh;
  background-color: rgb(63, 3, 3, 0.5);
}
.hero-image {
  position: relative;
}
.hero-image img {
  object-fit: cover;
  object-position: center;
  height: 90vh;
  width: 100%;
}
.hero-header {
  position: absolute;
  top: 80vh;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(146, 135, 34, 0.8);
  color: black;
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  z-index: 9;
}
.hero-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45vw;
  height: calc(200px + (300px - 200px) * ((100vh - 200px) / (100vh - 200px)));
  position: relative;
  padding: 20px;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.hero-header h1:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-header h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-left: 10px;
  width: 45vw;
  height: calc(200px + (300px - 200px) * ((100vh - 200px) / (100vh - 200px)));
  padding: 20px;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
