.order-clicks {
  padding-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.order-clicks h3 {
  text-align: center;
}
.list-of-orders {
  background-color: red;
}
.order-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.delete-orders {
  padding-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delete-orders h2 {
  text-align: center;
}
