a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
a:hover {
  color: rgba(189, 36, 51);
}
.navUl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 15px;
}
.navUl li {
  padding-right: 40px;
  font-size: 19px;
}
.navMainDiv {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-right: solid 3px rgba(14, 41, 21, 0.6);
  border-bottom: solid 2.5px rgba(14, 41, 21, 0.2);
}
.navUnderline {
  position: relative;
}
.navUnderline:before {
  position: absolute;
  display: block;
  transform: translate(-50%);
  content: " ";
  height: 1.5px;
  width: 65%;
  background-color: rgba(14, 41, 21, 0.6);
  left: 10%;
  bottom: 0%;
}
.navUnderline::after {
  position: absolute;
  display: block;
  transform: translate(-50%);
  content: " ";
  height: 1.5px;
  width: 65%;
  background-color: rgba(14, 41, 21, 0.2);
  right: -25%;
  bottom: -25%;
}
